.banner {
  display: grid;
  padding-top: 6rem;
  align-items: center;
  padding-bottom: 10rem;
  grid-template-columns: 1fr 1fr;
  h1 {
    font-weight: 500;
    max-width: calc(100% - 2rem);
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  a {
    max-width: 12rem;
  }
}

.banner a,
.clients a {
  opacity: 0.9;
  display: flex;
  align-items: center;
  color: var(--white);
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  background: var(--orange);
  justify-content: space-between;
  transition: color 0.2s ease 0s;
  &:hover {
    opacity: 1;
  }
  svg {
    fill: currentColor;
  }
}

.clients {
  margin-bottom: 4rem;
  h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  ul {
    gap: 1.5rem;
    display: grid;
    margin-bottom: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    li {
      height: 8rem;
      position: relative;
      img {
        border-radius: 0.75rem;
      }
    }
  }
  a {
    width: 10rem;
    margin: auto;
  }
}
.services {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: var(--orange);
  ul {
    gap: 1.5rem;
    display: grid;
    color: var(--white);
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: 840px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        min-width: 18rem;
      }
    }
    li {
      display: flex;
      align-items: center;
      div {
        opacity: 0.5;
        display: flex;
        width: fit-content;
        padding: 1.5rem;
        border-radius: 0.75rem;
        background: var(--white);
      }
      span {
        text-align: center;
        margin-left: 0.5rem;
      }
      &:nth-child(1) span {
        max-width: 10rem;
      }
      &:nth-child(3) span {
        max-width: 11rem;
      }
    }
  }
}

.slide {
  > div {
    position: relative;
    .react-multi-carousel-list {
      position: static;
      overflow: hidden;
      margin: 0px -1.2rem;
    }
  }
}

@media (max-width: 720px) {
  .banner {
    grid-template-columns: 1fr;
    padding-top: 4rem;
    padding-bottom: 6rem;
    div {
      text-align: center;
      margin-bottom: 2rem;
      a {
        margin: 0 auto;
      }
    }
  }
  .clients {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
