// .content {
//   padding-top: 4rem;
//   padding-bottom: 4rem;
//   position: relative;

//   // .item {
//   //   position: relative;
//   //   padding: 1rem;
//   //   background: var(--white);

//   //   img {
//   //     // height: 100%;
//   //     border-radius: 0.5rem;
//   //   }
//   //   h2 {
//   //     font-weight: normal;
//   //     margin: 0.5rem 0 1rem;
//   //     font-size: 1.125rem;
//   //     &::after {
//   //       width: 3rem;
//   //       height: 2px;
//   //       content: '';
//   //       display: block;
//   //       margin-top: 0.25rem;
//   //       border-radius: 2px;
//   //       background: var(--orange);
//   //     }
//   //   }
//   // }
// }

.content {
  padding-top: 4rem;
  padding-bottom: 4rem;
  .item {
    position: relative;
    padding: 1rem;
    background: var(--white);
    border-radius: 0.75rem;

    img {
      // height: 100%;
      border-radius: 0.5rem;
    }
    h2 {
      font-weight: normal;
      margin: 0.5rem 0 1rem;
      font-size: 1.125rem;
      &::after {
        width: 3rem;
        height: 2px;
        content: '';
        display: block;
        margin-top: 0.25rem;
        border-radius: 2px;
        background: var(--orange);
      }
    }
    p {
      display: -webkit-box;
    }
  }
}

.react-multi-carousel-item--active {
  background: black;
}

.react-multi-carousel-item {
  width: 18rem;
}
